.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 77px;
}

.pageNumber {
  font: var(--web-body2-medium);
  color: var(--gray-500);
}

.currentPage {
  font: var(--web-body2-bold);
  color: var(--gray-600);
}
