.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 100vh;
  background-color: var(--bg);
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: auto;
  transform: translate(0, 50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  width: 64px;
  height: 64px;
  animation: rotate 4s linear infinite;
}

.loadingText {
  font: var(--web-display1-bold);
  color: var(--gray-900);
}
