.professorCourse {
  width: 1920px;
  display: flex;
  flex-direction: column;
}

.professorCourseHeader {
  width: 100%;
  height: 221px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backButton {
  position: absolute;
  float: left;
  left: 139px;
  top: 43px;
}

.professorCourseHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 48px 274px;
  width: 100%;
}

.professorCourseHeaderInfo {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courseUniversity {
  font: var(--web-body1-bold);
  color: var(--sub-orange-500);
}

.courseTitle {
  font: var(--web-title1-bold);
  color: var(--sub-black-900);
}

.courseSubInfo {
  display: flex;
  align-items: center;
}

.courseSchedule {
  display: flex;
  align-items: center;
  gap: 11px;
}

.clockIcon {
  width: 18px;
  height: 18px;
}

.subInfoText {
  font: var(--web-body2-medium);
  color: var(--gray-500);
}

.divider {
  height: 16px;
  border: 1.2px solid var(--gray-400);
  margin: 0px 13px;
}

.coursePeople {
  display: flex;
  align-items: center;
  gap: 9px;
}

.peopleIcon {
  width: 24px;
  height: 24px;
}

.courseCategory {
  width: 64px;
  height: 34px;
  margin-left: 18px;
  font: var(--web-body3-bold);
}

.right {
  display: flex;
  gap: 46px;
}

.courseAccessCode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 60px;
  outline: 2px solid var(--gray-300);
  border-radius: 10px;
}

.accessCodeText {
  font: var(--web-body2-medium);
  color: var(--gray-700);
}

.headerButtonContainer {
  display: flex;
  gap: 10px;
}
