.dropDownContainer {
  position: relative;
  width: 150px;
  background-color: var(--gray-200);
  color: var(--gray-500);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
}
.dropDownActive {
  border-left: 1px solid var(--blue-400);
  border-top: 1px solid var(--blue-400);
  border-right: 1px solid var(--blue-400);
  border-radius: 8px 8px 0 0;
}

.titleContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  cursor: pointer;
}

.dropDownTitle {
  user-select: none;
  flex-grow: 1;
  color: var(--gray-500);
}

.labelContainer {
  position: absolute;
  top: 42px;
  left: -1px;
  width: 150px;
  background-color: var(--gray-200);
  max-height: 208px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  border-left: 1px solid var(--blue-400);
  border-top: 1px solid var(--gray-300);
  border-right: 1px solid var(--blue-400);
  border-bottom: 1px solid var(--blue-400);
}

.labelContainer::-webkit-scrollbar {
  width: 4px;
}

.labelContainer::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  border: none;
  font: var(--web-body1-medium);
  color: var(--gray-500);
}

.label:hover {
  font: var(--web-body1-bold);
  color: var(--blue-400);
}
